* {
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/panorama1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    font-size: 20px;
}
.active {
    color: #ed7b7b;
}
#logo {
    
}

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
    margin-right: 50px;
    width: 60%;
}

footer {
    background-color: #7f8183;
    color: white;  
    right: 0;
    bottom: 0;
    left: 0;
}
#footer-cont {
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;
}
.footer-el {
    display: flex;
    width: 300px;
}
#footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul#autors {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-top: 0.5px solid grey;
}
.table-top {
    font-weight: bold;
    background-color:#7f8183;
    opacity: 0.5;
    color: white;
    
}

.table-summary {
    font-size: 1.5em;
}
#content {
    display: flex;
    margin: 0px 50px;
    color: #7f8183;
}
@media screen and (max-width: 800px) {
    #main-nav {
        width: 70%;
        margin-right: 0;
    }
}
@media screen and (max-width: 500px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .footer-el {
        margin-right: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 300px) {
    #main-nav {
        flex-direction: column;
    }
    #nav-right {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 250px) {
    .footer-el {
        display: flex;
        flex-direction: column;
    }
}
#main-nav a {
    color:#91979e;
}
#main-nav a:hover {
    color: #ed7b7b;
}
#main-nav .active {
    color: #ed7b7b;
}
/* Css Andrzeja*/
table {
    border-collapse: collapse;
    width: 100%;
}

th{
    background-color: #f1f1f154;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgba(221, 221, 221, 0.37)}

.table-summary {
    font-size: 1.5em;
}

.welcomePageScreen{
    font-family: Courier;
    text-shadow: 5px 5px #00000075;
    width: 100%;
    text-align: center;
    padding: 60px;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
}
  
.navbar a {
float: left;
font-size: 16px;
color: rgb(73, 73, 73);
text-align: center;
text-decoration: none;
}

.dropbtn {
background-color: rgba(255, 255, 255, 0);
color: rgb(77, 77, 77);
padding: 16px;
font-size: 16px;
border: none;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
    width: 100%;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(151, 144, 144);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(199, 199, 199, 0.616);}

.show {
display: block;
}

.editbtn{
    background-color: rgba(255, 255, 255, 0); 
    border: none;
}