* {
    text-decoration: none;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}
#main-nav a {
    color:#84868a;
}
#main-nav a:hover {
    color: #ed7b7b;
}
#main-nav .active {
    color: #ed7b7b;
}
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 5%;
    margin-right: 5%;
    width: 60%;
}
#heading {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/panorama1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}
#content {
    display: flex;
    margin: 0% 5%;
    color: #535455;
}
footer {
    background-color: #7f8183;
    color: white;  
    right: 0;
    bottom: 0;
    left: 0;
}
#footer-cont {
    margin: 0% 5%;
    display: flex;
    justify-content: space-between;
}
#footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul#autors {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 4% 0%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-top: 0.5px solid grey;
}
.table-top {
    font-weight: bold;
    background-color:#e0e0e0;
    color: #535455;  
}
.table-summary {
    font-size: 1.5em;
}

@media screen and (max-width: 800px) {
    header {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 750px) {
    #content, header {
        margin: 0;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    #main-nav {
        width: 90%;
        margin-top: 10px;
        margin-right: 0;
    }
}
@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 500px) {
    #main-nav {
        width: 100%;
    }
}
@media screen and (max-width: 400px) {
    #main-nav {
        flex-direction: column;
        justify-content: center;
    }
    #main-nav a, #logo {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 354px) {
    #main-nav {
        flex-direction: column;
    }
    #autors li {
        padding: 3px;
    }
}


