* {
    text-decoration: none;
    box-sizing: border-box;
    color: whitesmoke;
}
html { 
    background: url(../img/homepage1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 10px 50px;
}
header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.active {
    color:gray;
}
#logo {
    
}
#main-nav {
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 17px 40px;
    width: 40%;
}
@media screen and (max-width: 800px) {
    #main-nav {
        width: 50%;
    }
}
@media screen and (max-width: 500px) {
    #nav-left {
    flex-direction: column;
    }
    #nav-left a {
        margin-bottom: 20px;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    .footer-el {
        margin-right: 0;
        justify-content: center;
    }
}

@media screen and (max-width: 300px) {
    #main-nav {
        flex-direction: column;
    }
    #nav-right {
        justify-content: flex-start;
    }
}
@media screen and (max-width: 250px) {
    .footer-el {
        display: flex;
        flex-direction: column;
    }
}
a {
    color: whitesmoke;
}
a:hover {
    color: grey;
}
footer {
    display: flex;
    align-items: baseline;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px 50px;
}
.footer-el {
    display: flex;
    width: 600px;
}
ul#autors {
    list-style-type: none;
    margin-left: 20px;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-top: 0.5px solid grey;
}
.td-center{
    text-align: center;
}
.table-top {
    font-weight: bold;
    background-color:lightblue;
    opacity: 0.5;
    color: black;
    
}
.table-title {
    color: black;
}
.table-summary {
    font-size: 1.5em;
}
tr:hover {background-color: rgba(221, 221, 221, 0.37)}