<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/loginscreen.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quest Store</title>
</head>

<body>
<div id="login-container">
    <div><img src="img/whitering.png"></div>
    <form id="login-form" method="post">
        <input class="login" type="text" placeholder="Enter Username" name="username" required>
        <input class="login" type="password" placeholder="Enter Password" name="password" required>
        <input type="submit" value="Login">
    </form>
</div>
</body>

</html>
